* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 2%;
  height: 100vh;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #E9D3C5;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  height: 100%;
  border: 1px solid #000000;
  background-color: #000000;
}

.empty {
  background-color: #E9D3C5;
}

.sunrise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FABA63;
}

.sunrise-arrow {
  max-width: 5rem;
}

.sunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C9CCD1;
}

.sunset-arrow {
  transform: rotate(180deg);
  max-width: 5rem;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9D3C5;
}

.weather-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9D3C5;
}

.weather-description-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.75rem;
}

.coordinates {
  background-color: #F9ADB9;
}

.coordinates-heading {
  border-bottom: 1px solid #000000;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #E9D3C5;
}

.coordinates-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 90%;
  align-items: space-around;
}

.latitude-heading {
  position: relative;
  top: 0.25rem;
  font-size: 0.7rem;
}

.latitude-body {
  font-size: 2.25rem;
}

.longitude-heading {
  position: relative;
  top: 0.25rem;
  font-size: 0.7rem;
}

.longitude-body {
  font-size: 2.25rem;
}

.search {
  grid-column: 2 / 6;
  display: flex;
  background-color: #1E1516;
}

.search-field {
  border: none;
  padding-left: 2rem;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  outline: none;
  color: #FFFFFF;
  background-color: transparent;
}

.search-field::placeholder {
  color: #FFFFFF
}

.search-field::selection {
  background-color: #E9D3C5;
}

.city {
  grid-column: 6 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9D3C5;
}

.city-text {
  font-size: 3rem;
}

.visibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7DD0C4;
}

.visibility-heading {
  font-weight: 100;
}

.visibility-body {
  margin-top: 0.25rem;
  font-size: 2rem;
}

.api-credit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9D3C5;
}

.api-credit-text {
  font-size: 1rem;
  line-height: 1.15rem;
}

.feels-like {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #E9D3C5;
}

.feels-like-heading {
  font-size: 0.7rem;
}

.feels-like-body {
  position: relative;
  top: 1rem;
  font-size: 2.5rem;
}

.date-time {
  grid-column: 8 / 10;
  background-color: #E9D3C5;
}

.date-time-heading {
  border-bottom: 1px solid #000000;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #E9D3C5;
}

.pressure {
  background-color: #C9CCD1;
}

.temperature {
  grid-column: 6 / 8;
  background-color: #E9D3C5;
}

.humidity {
  background-color: #AEBBC2;
}

.low {
  background-color: #E9D3C5;
}

.high {
  background-color: #E9D3C5;
}

.website-credit {
  background-color: #E9D3C5;
}

.timezone {
  background-color: #FFCA80;
}

.timezone-heading {
  border-bottom: 1px solid #000000;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #E9D3C5;
}

.wind {
  background-color: #E9D3C5;
}

.cloudiness {
  background-color: #C3D9D5;
}

