* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 2%;
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #E9D3C5;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  border: 1px solid #000000;
}

.empty {
  border: 1px solid #000000;
}
